<div class="container-form">
<h1>Editar Consulta</h1>

<%= render 'form', question: @question %>   <%= link_to 'Show', @question , class: "btn btn-primary"%>
  <%= link_to 'Volver', questions_path , class: "btn btn-warning"%>
</div>