<div class="container-form">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Edit', edit_question_path(@question) , class:"btn btn-warning"%> |
<%= link_to 'Back', questions_path , class: "btn btn-danger"%>
</div>
