<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Caracola 2</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item active "><a class="nav-link" href="/users">Usuarios</a></li>
      <li class="nav-item active "><a class="nav-link" href="/estudiantes">Estudiantes</a></li>
      <li class="nav-item active "><a class="nav-link" href="/pagos">Pagos</a></li>
      <li class="nav-item active "><a class="nav-link" href="/agendas">Agendas</a></li>
      <li class="nav-item active "><a class="nav-link" href="/questions">Foro Consultas</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active"><a class="nav-link" href="/users/edit">Cambiar contraseña</a></li>
      <li class="nav-item active"><a class="nav-link" href="/users/sign_out">Salir</a></li>
    </ul>
  </div>
</nav>