<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/a8/1d/e9/a81de972ae5f69e8bda41b1cc73b0dfd.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h1>BIENVENIDO</h1>
        <p>Gracias por ingresar</p>
      </div>
    </div>
  </a>
</div>
</div>