<!DOCTYPE html>
<body>
<head>
</head>
<body></body>
<div class="container">
  <table class="table table-condensed table-bordered">
    <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Mostrar', user_url(user), class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', editar_user_url(user), class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', user_path(user), class: "btn btn-danger",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <a href="/estudiantes/nuevo" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Nuevo</a>
</div>
</body>
</html>