// Place all the styles related to the Agendas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.derecha{
	float: right;
}

.boton{
	float: right;
}

.panel-group{
	border-style: solid;
	height: 200px;
	width: 1100px;
	border: 2px solid;
    border-radius: 5px;
}

.panel-heading{
	background-color: blue;
	color: white;
	border-radius: 3px;
}

