// Place all the styles related to the Bienvenido controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:visited{
	text-decoration: none;	
}

.nav-item{
  font-size: larger;
}

.navbar{
	background-color: #7B9BA6;
}

.nav-link{
	color: #F0F1D5;
}

.navbar-brand{
	color: #F0F1D5;
}
